# Configuración de Base de Datos
MONGODB_URI=mongodb://localhost:27017/vimaroni
# Para producción usar algo como: mongodb+srv://usuario:password@cluster.mongodb.net/vimaroni

# Puerto del servidor
PORT=3001

# URL del frontend (para CORS)
FRONTEND_URL=http://localhost:3000
# Para producción: https://tu-dominio.com

# Entorno
NODE_ENV=development
